<%- include('./partials/header.ejs'); %>


    <div class="container-fluid heros-section">
        <div class="container heros">

            <div class="row">

                <% blogs.forEach((blog)=>{ %>

                    <div class="col-4">

                        <div class="card">
                            <img class="img-fluid card-img-top w-25" src="https://picsum.photos/50/50
                            " alt="">
                            <div class="card-body">
                                <h3>
                                    <%= blog.blog_title %>
                                </h3>
                                <h4>
                                    <%= blog.blog_author %>
                                </h4>
                                <h5>
                                    <%= blog.blog_cat %>
                                </h5>
                                <button class="btn btn-primary">
                                    <a class="text-light text-decoration-none"
                                        href="/readingblog/<%= blog.blog_title%>">
                                        Read More ..</a></button>
                            </div>
                        </div>

                    </div>

                    <% }) %>

            </div>

        </div>
    </div>


    <%- include('./partials/footer.ejs'); %>